/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Astric to override all styles set by browser*/
* {
    padding: 0;
    margin: 0;
    /*And finally,
        we'll set the box-sizing property for all our elements to
     border-box,
        so that later when we set the height or width to an element,
            it will be applied to the entire element,
            including the border.*/
    box-sizing: border-box;
}

/* aplying flex to let content  have the largest space of height*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project style*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #ffffff;
    position:fixed;
    width: 100%;
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 99;/*to stay above all elements*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu{
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 110%;
}

#menu > li{
    margin-bottom: 1em;
}
.active{
    border-bottom:1px solid #3a3a3a
}
/*Styling the Nav and make it dropdown*/
nav{
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Styling the dropdown menu using the pseudo class from checkbox*/
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size:2rem;
}

/*Main*/
main {
    background-color: aqua;
    flex: 1 0 auto;
    margin-top: 43px;
}


/*Footer*/
footer {
    background-color: blueviolet;
}